body > main > section.banner
{
	--banner-content-offset: 40px;
	--banner-padding: 20px;
	
	display: flex;
	flex-direction: row;
	
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	min-height: 480px;
	padding: var(--banner-padding);
}

body > main > section.banner > .content-wrapper
{
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	width: 50%;
	max-width: calc((var(--size-xxl) / 2) - var(--banner-content-offset));
	padding: 100px 30px 28px 7px;
	margin: 0;
	margin-left: auto;
}

body > main > section.banner > .content-wrapper > h2
{
	margin: 0;
	margin-top: auto;
	
	font-size: 64px;
	font-weight: 500;
	line-height: 64px;
	letter-spacing: -0.01em;
}

body > main > section.banner > .content-wrapper > .subtitle
{
	padding-left: 3px;
	margin-top: 25px;
	
	font-size: 21px;
	line-height: 30px;
}

body > main > section.banner > .content-wrapper .action-button-wrapper
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	
	padding: 0 10px 0 3px;
	margin: 43px auto 68px 0;
}

body > main > section.banner > .content-wrapper .action-button
{
	min-width: 260px;
	margin-right: 31px;
}

body > main > section.banner > .content-wrapper .elucidation
{
	margin: 15px auto 0;
}

body > main > section.banner > .content-wrapper .scroll-button
{
	display: flex;
	align-items: center;
	
	margin-top: auto;
	margin-right: auto;
	
	line-height: 18px;
	letter-spacing: -0.01px;
	
	color: var(--color-orange-0);
	
	outline: none;
}

body > main > section.banner > .content-wrapper .scroll-button:focus:not(:hover)
{
	text-decoration: underline;
}

body > main > section.banner > .content-wrapper .scroll-button:active
{
	opacity: 0.2;
}

body > main > section.banner > .content-wrapper .scroll-button::before
{
	content: "";
	
	display: block;
	
	width: 61px;
	height: 30px;
	
	background-image: url("../img/sprite.svg#scroll-arrows");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 41px 41px;
}

body > main > section.banner > .content-wrapper .scroll-button:hover::before
{
	background-image: url("../img/sprite.svg#scroll-arrows-hover");
	background-size: 29px 41px;
}

body > main > section.banner > .video-wrapper
{
	position: relative;
	
	overflow: hidden;
	
	width: calc(50% + var(--banner-content-offset) - var(--banner-padding));
	max-height: 100%;
	margin: auto 0;
	
	background-color: var(--color-gray-1);
}

body > main > section.banner > .video-wrapper::before
{
	content: "";
	
	display: block;
	
	padding-top: calc(920 / 940 * 100%);
}

body > main > section.banner > .video-wrapper video
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	
	width: 100%;
	height: 100%;
}

body > main > section.banner > .video-wrapper .controls-wrapper
{
	--control-padding: 10px;
	
	z-index: 2;
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible
{
	position: absolute;
	bottom: 0;
	left: 0;
	
	display: block;
	
	width: 100%;
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .progress-bar
{
	--line-padding: var(--control-padding);
	
	position: relative;
	z-index: 2;
	
	width: 100%;
	margin-bottom: calc(-1 * var(--line-padding));
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .progress-bar:hover
{
	--line-height: 10px;
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .control-buttons-wrapper
{
	display: flex;
	align-items: center;
	
	box-sizing: border-box;
	width: 100%;
	
	background-color: var(--color-black-3);
}

body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) button:not(.play-button)
{
	display: none;
}

body > main > section.banner > .video-wrapper .controls-wrapper .control-button
{
	position: relative;
	z-index: 1;
	
	display: none;
	flex-shrink: 0;
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .control-button
{
	--icon-size: 25px;
	--control-button-size: calc(var(--control-padding) * 2 + var(--icon-size));
	
	display: block;
	overflow: hidden;
	
	box-sizing: border-box;
	width: var(--control-button-size);
	height: var(--control-button-size);
	padding: calc((var(--control-button-size) - var(--icon-size)) / 2);
	
	font-size: 0;
	
	outline: none;
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .control-button::before
{
	content: "";
	
	display: block;
	
	width: var(--icon-size);
	height: var(--icon-size);
	
	background-position: center;
	background-repeat: no-repeat;
}

body > main > section.banner > .video-wrapper .controls-wrapper .control-button:hover::before
{
	transform: scale(0.8);
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .control-button:focus:not(:hover)
{
	box-shadow: inset 0 0 0 2px var(--color-black-0);
}

body > main > section.banner > .video-wrapper .controls-wrapper .control-button:active
{
	opacity: 0.2;
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .play-button::before
{
	background-image: url("../img/sprite.svg#play-icon");
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .pause-button::before
{
	background-image: url("../img/sprite.svg#pause-icon");
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .volume-button::before
{
	background-image: url("../img/sprite.svg#volume-icon");
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .volume-button.mute::before
{
	background-image: url("../img/sprite.svg#mute-icon");
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .speed-button::before
{
	background-image: url("../img/sprite.svg#speed-icon");
}

body > main > section.banner > .video-wrapper .controls-wrapper.visible .fullscreen-button::before
{
	background-image: url("../img/sprite.svg#fullscreen-icon");
}

body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button
{
	position: absolute;
	top: 50%;
	left: 50%;
	
	display: block;
	margin: -32px 0 0 6px;
	
	font-size: 21px;
	line-height: 30px;
	
	color: var(--color-orange-0);
	
	outline: none;
	
	transform: translate(-50%, -50%);
}

body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button:focus:not(:hover)
{
	text-decoration: underline;
}

body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button::before
{
	--icon-button-size: 256px;
	
	content: "";
	
	display: block;
	
	width: var(--icon-button-size);
	height: var(--icon-button-size);
	margin: 0 7px 18px 0;
	
	background-image: url("../img/sprite.svg#play");
	background-position: center;
	background-repeat: no-repeat;
}

body > main > section.banner > .video-wrapper .volume-wrapper
{
	display: flex;
	align-items: center;
}

body > main > section.banner > .video-wrapper .volume-wrapper .volume-range
{
	--line-progress: 100%;
	
	visibility: hidden;
	
	width: 0;
	
	transition: width 0.5s;
}

body > main > section.banner > .video-wrapper .volume-wrapper:hover .volume-range,
body > main > section.banner > .video-wrapper .volume-wrapper:focus-within .volume-range
{
	visibility: visible;
	
	width: 50px;
}

body > main > section.banner > .video-wrapper .volume-range
{
	--line-padding: 5px;
	
	width: 50px;
}

body > main > section.banner > .video-wrapper .volume-range > button
{
	--line-height: 8px;
}

body > main > section.banner > .video-wrapper .time-wrapper
{
	--font-size: 16px;
	
	flex-shrink: 0;
	padding: 0 var(--control-padding);
	
	font-size: var(--font-size);
	line-height: var(--font-size);
	
	color: var(--color-white-0);
}

body > main > section.banner > .video-wrapper .speed-wrapper
{
	position: relative;
	z-index: 3;
	
	margin-left: auto;
}

body > main > section.banner > .video-wrapper .speed-wrapper .speed-list
{
	position: absolute;
	bottom: 100%;
	z-index: 1;
	
	display: none;
	
	width: 100%;
	
	background-color: var(--color-black-3);
}

body > main > section.banner > .video-wrapper .speed-wrapper:focus-within .speed-list,
body > main > section.banner > .video-wrapper .speed-wrapper .speed-list.visible
{
	display: block;
}

body > main > section.banner > .video-wrapper .speed-wrapper .speed-list button
{
	width: 100%;
	
	text-align: center;
	
	background-color: transparent;
	
	outline: none;
}

body > main > section.banner > .video-wrapper .speed-wrapper .speed-list button.checked
{
	color: var(--color-white-0);
}

body > main > section.banner > .video-wrapper .speed-wrapper .speed-list button:hover,
body > main > section.banner > .video-wrapper .speed-wrapper .speed-list button:focus
{
	color: var(--color-black-0);
	background-color: var(--color-gray-1);
}

@media (max-height: 650px)
{
	body > main > section.banner > .content-wrapper > h2
	{
		margin-top: 30px;
		
		font-size: 48px;
	}
	
	body > main > section.banner > .content-wrapper > h2 br
	{
		display: none;
	}
	
	body > main > section.banner > .content-wrapper > .subtitle br
	{
		display: none;
	}
	
	body > main > section.banner > .content-wrapper .action-button-wrapper
	{
		margin: 30px auto 0 0;
	}
	
	body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button
	{
		margin: 0;
	}
	
	body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button::before
	{
		--icon-button-size: 125px;
		
		margin: 0 auto;
	}
}

@media (max-width: $size-xl)
{
	body > main > section.banner > .content-wrapper > h2
	{
		font-size: 48px;
		line-height: 48px;
	}
	
	body > main > section.banner > .content-wrapper > .subtitle
	{
		font-size: 18px;
		line-height: 18px;
	}
	
	body > main > section.banner > .content-wrapper .action-button-wrapper
	{
		margin: 20px 0 0;
	}
	
	body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button
	{
		margin: 0;
	}
	
	body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button::before
	{
		--icon-button-size: 125px;
		
		margin: 0 auto;
	}
}

@media (max-width: $size-lg)
{
	body > main > section.banner
	{
		flex-direction: column;
		
		height: 100%;
	}
	
	body > main > section.banner > .content-wrapper
	{
		width: 100%;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	
	body > main > section.banner > .content-wrapper > h2
	{
		margin: 50px auto 0;
		
		text-align: center;
	}
	
	body > main > section.banner > .content-wrapper > h2 br
	{
		display: none;
	}
	
	body > main > section.banner > .content-wrapper > .subtitle
	{
		padding: 0 20px;
		margin: 30px auto 0;
		
		text-align: center;
	}
	
	body > main > section.banner > .content-wrapper > .subtitle br
	{
		display: none;
	}
	
	body > main > section.banner > .content-wrapper .action-button-wrapper
	{
		flex-direction: column;
		
		margin: 30px auto 0;
	}
	
	body > main > section.banner > .content-wrapper .action-button
	{
		margin: 0 auto;
	}
	
	body > main > section.banner > .content-wrapper .scroll-button
	{
		display: none;
	}
	
	body > main > section.banner > .video-wrapper
	{
		width: 100%;
		margin: 0;
	}
}

@media (max-width: $size-sm)
{
	body > main > section.banner > .content-wrapper > h2
	{
		font-size: 32px;
		line-height: 32px;
	}
	
	body > main > section.banner > .content-wrapper > .subtitle
	{
		font-size: 16px;
		line-height: 16px;
	}
	
	body > main > section.banner > .video-wrapper .controls-wrapper
	{
		--control-padding: 5px;
	}
	
	body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button
	{
		margin: 0;
		
		font-size: 16px;
	}
	
	body > main > section.banner > .video-wrapper .controls-wrapper:not(.visible) .play-button::before
	{
		--icon-button-size: 90px;
	}
	
	body > main > section.banner > .video-wrapper .time-wrapper
	{
		--font-size: 12px;
	}
}
