:root
{
	--size-desktop: 1720px;
	
	--color-black-0: #000000;
	--color-white-0: #FFFFFF;
	--color-orange-0: #F9572E;
	--color-orange-1: rgba(249, 87, 46, 0.6);
	--color-orange-2: #FF7B59;
	--color-orange-3: rgba(249, 87, 46, 0.7);
	--color-gray-0: #F2F2F2;
	--color-gray-1: #EEEEEE;
}
